body{
    background-color: rgb(250, 189, 8);
    margin:0px;
    padding:0px;
}

header{
    font: 2em Arial;
    text-align: center;
    color:white;
}

main{
    padding:15px;
    margin:10px auto;
    max-width: 550px;
    min-width: 200px;
    border-radius:15px;
    background-color:white;
    
}

input{
    width:100px;

}
input#preco, input#quantidade, input.quantItens{
    width:50px;

    
}

div#carrinho{
    margin:20px;
    overflow-x:auto;
    

}

table{
    margin:auto;
    padding:10px;
    table-layout:fixed;
    border-collapse:collapse;
    border: 2px solid black;

    
}

th, td{
    border:1px solid black;
}

th{
    width:90px;
    padding:5px 10px;
    letter-spacing:2px;
    
}

td{
    text-align: center;
    padding:3px 10px;
    letter-spacing:1px;
    
}

td > .btn_removerItens{
    background-image:url(imagens/icones/cart-remove-icon_32px.png);
    background-repeat:no-repeat;
    border:0px solid transparent;
    width:33px;
    height:33px;
    background-color:white;


}

.th_num{
    width: 10px;
    
}

tr{
    background-color:white;
}

footer{
    text-align:center;
    margin-top:10px;
    font: italic 13px Arial;

}
    /*
    font-style
    font-variant
    font-weight
    font-size/line-height
    font-family*/
